<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="signup.css" />
    <title>🦁 회원가입</title>
  </head>
  <body>
    <div class="signup-box">
      <header>
        <div class="header-left">
          <img class="icon" src="./images/icon.svg" />
          <h2>회원가입하기</h2>
        </div>
        <a href="./login.html" class="out-btn">
          <img src="./images/out.svg" />
        </a>
      </header>
      <form name="signup" method="post" onsubmit="return checkPassword();">
        <section class="signup_section">
          <span>이름</span>
          <input
            name="first_name"
            type="text"
            placeholder="김사자"
            required
            autocomplete="off"
          />
        </section>
        <section class="signup_section">
          <span>아이디</span>
          <input
            type="text"
            name="username"
            placeholder="아이디를 입력해 주세요."
            required
            autocomplete="off"
          />
        </section>
        <section class="signup_section">
          <span>비밀번호</span>
          <input
            id="password1"
            type="password"
            name="password1"
            placeholder="비밀번호를 입력해 주세요."
            required
            autocomplete="new-password"
          />
        </section>
        <section class="signup_section">
          <span>비밀번호 확인</span>
          <input
            id="password2"
            type="password"
            name="password2"
            placeholder="비밀번호 확인"
            required
            autocomplete="new-password"
          />
        </section>
        <button class="signup_btn" type="submit">회원가입하기</button>
      </form>
      <script src="signup.js"></script>
    </div>
  </body>
</html>
